<ng-container>
  <div class="row">
    <div class="col-6 my-2 shadow text-center ">
      <mat-card>
        <mat-card-title>Co2</mat-card-title>
        <mat-card-content>
          <p> Co2 Diagram </p>
          <img src="assets/char.jpg" width="500px">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Temperature</mat-card-title>
        <mat-card-content>
          <p>Temperature Diagram </p>
          <img src="assets/char.jpg" width="500px">
          <!-- Hier können Sie die Inhalte Ihrer zweiten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Humidity</mat-card-title>
        <mat-card-content>
          <p>Humidity Diagram </p>
          <img src="assets/char.jpg" width="500px">
          <!-- Hier können Sie die Inhalte Ihrer dritten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Temperature</mat-card-title>
        <mat-card-content>
          <p>Diagram </p>
          <img src="assets/char.jpg" width="500px">
          <!-- Hier können Sie die Inhalte Ihrer vierten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
