<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="card rounded-4 shadow w-75">
        <div class="card-header h3 text-center">Update Room</div>
        <div class="card-body">
          <form [formGroup]="roomForm" *ngIf="sensors.length > 0 && roomForm !== undefined">
            <mat-form-field>
              <mat-label>Room Name</mat-label>
              <input matInput formControlName="roomName" placeholder="Enter the Name" required>
              <mat-error>Minimum three letters required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width my-1" style="display: block;">
              <mat-label>Select Sensors</mat-label>
              <mat-select placeholder="Select Clients" formControlName="sensor" multiple [compareWith]="compareClients">
                <mat-option *ngFor="let sensor of sensors" [value]="sensor">
                  {{sensor.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <div class="card-footer d-flex justify-content-end align-items-center">
          <button mat-raised-button color="warn" class="cancel-button m-lg-1" (click)="cancel()">Cancel</button>
          <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
