<ng-container>
  <div class="row">
    <div class="col-6 my-2 shadow text-center ">
      <mat-card>
        <mat-card-title>Co2 </mat-card-title>
        <mat-card-content>
          <p> Co2 Diagram </p>
          <!-- Hier können Sie die Inhalte Ihrer ersten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Temperature </mat-card-title>
        <mat-card-content>
          <p>Temperature Diagram </p>
          <!-- Hier können Sie die Inhalte Ihrer zweiten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Humidity</mat-card-title>
        <mat-card-content>
          <p>Humidity Diagram </p>
          <!-- Hier können Sie die Inhalte Ihrer dritten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Temperature </mat-card-title>
        <mat-card-content>
          <p>Diagram </p>
          <!-- Hier können Sie die Inhalte Ihrer vierten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
