.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color:  #3f51b5;
}

.logo {
  text-decoration: none;
  color: inherit;
}
.name{
  margin-right: 700px;
  color: white;
  font-size: x-large;
}
.white-icon {
  color: white;
}
