<div class="pt-2" *ngIf="data.length > 0">
  <button class="mt-2" (click)="updateOptions( 'week' )" [class.active]="activeOptionButton=='week'">Week</button>
  <button class="mt-2" (click)="updateOptions( 'today' )" [class.active]="activeOptionButton=='today'">Today</button>
  <button class="mt-2" (click)="updateOptions( 'now' )" [class.active]="activeOptionButton=='now'">Now</button>
  <button class="mt-2 mx-1 bg-info p-1 ml-1 rounded">{{averageValues}}
    <span *ngIf="nameChart.toLowerCase().includes('co2')">PPM</span>
    <span *ngIf="nameChart.toLowerCase().includes('hum')">%</span>
    <span *ngIf="nameChart.toLowerCase().includes('temp')">°C</span>
    <span *ngIf="nameChart.toLowerCase().includes('voc')">index</span>
  </button>
  <button [className]="(averageValues < minValue || averageValues > maxValue)  ? 'mt-2 mx-1 bg-danger float-end btn-circle' : 'mt-2 mx-1 bg-danger-subtle float-end btn-circle'"></button>
  <button [className]="((averageValues >= minValue && averageValues < minNormalValue) || (averageValues > maxNormalValue && averageValues < maxValue))  ? 'mt-2 mx-1 bg-warning float-end btn-circle' : 'mt-2 mx-1 bg-warning-subtle float-end btn-circle'"></button>
  <button [className]="(averageValues >= minNormalValue && averageValues <= maxNormalValue)  ? 'mt-2 mx-1 bg-success float-end btn-circle' : 'mt-2 mx-1 bg-success-subtle float-end btn-circle'"></button>

  <apx-chart
    [series]="series"
    [dataLabels]="dataLabels"
    [xaxis]="xaxis"
    [title]="title"
    [chart]="chart"
    [markers]="markers"
    [tooltip]="tooltip"
    [fill]="fill">
  </apx-chart>
</div>
