<ng-container>
  <div class="row">
    <div class="col-6 my-2 shadow text-center ">
      <mat-card>
        <mat-card-title>Co2 Sensor</mat-card-title>
        <mat-card-content>
          <p> Daten von Co2 Sensor </p>
          <!-- Hier können Sie die Inhalte Ihrer ersten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Temperature Sensor </mat-card-title>
        <mat-card-content>
          <p>Daten von Temperature Sensor</p>
          <!-- Hier können Sie die Inhalte Ihrer zweiten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Humidity Sensor</mat-card-title>
        <mat-card-content>
          <p>Daten von Humidity Sensor </p>
          <!-- Hier können Sie die Inhalte Ihrer dritten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6 my-2 shadow text-center">
      <mat-card>
        <mat-card-title>Temperature Sensor </mat-card-title>
        <mat-card-content>
          <p>Daten von dies Sensor </p>
          <!-- Hier können Sie die Inhalte Ihrer vierten Komponente platzieren -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
