<mat-dialog-content class="custom-dialog-container">
  <mat-card class="custom-dialog-content ">
    <h5 mat-dialog-title class="text-center my-2">Add new Room</h5>
    <mat-card-content>
      <form [formGroup]="dialogForm">
        <mat-form-field>
          <mat-label>Room Name</mat-label>
          <input matInput formControlName="roomName" placeholder="Enter the Name" required>
          <mat-error *ngIf="dialogForm.controls['roomName'].invalid">Minimum three letters required</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-dialog-actions class="custom-dialog-actions " >
    <button mat-raised-button color="warn" class=" cancel-button m-lg-1">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="dialogForm.invalid" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>
</mat-dialog-content>

