.custom-dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.custom-dialog-content {
  width: 250px; /* oder eine andere gewünschte Breite */
}

.custom-dialog-actions {
  margin-top: 3px;
}





