<mat-drawer-container class="container-fluid sidenav-container" autosize>
  <mat-drawer [opened]="sideBarOpen" class="sidebar" mode="side">
    <ul class="nav">
      <li *ngFor="let item of routeItems">
        <a [routerLink]="[item.link]">
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </a>
      </li>
    </ul>

    <!-- Feste Größe für die Buttons -->
    <div class="bottom-button-container">
      <button class="btn btn-primary btn-fixed-width" (click)="goToSensor()">Room 1</button>
    </div>

    <div class="bottom-button-container">
      <button class="btn btn-primary btn-fixed-width">Room 2</button>
    </div>

    <div class="bottom-button-container">
      <button class="btn btn-primary btn-fixed-width">Room 3</button>
    </div>

    <div class="bottom-button-container">
      <button class="btn btn-primary btn-fixed-width">Room 4</button>
    </div>

    <div class="bottom-button-container mt-auto">
      <button class="btn btn-primary btn-fixed-width" (click)="addNewRaum()">Add new Room</button>
    </div>

  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
