<mat-drawer-container class="container-fluid sidenav-container" autosize>
  <mat-drawer [opened]="sideBarOpen" class="sidebar" mode="side">
    <ul class="nav">
      <li *ngFor="let item of routeItems">
        <a [routerLink]="[item.link]">
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </a>
        <mat-icon (click)="updateRaum(item)">edit</mat-icon>

      </li>
    </ul>

    <div class="bottom-button-container mt-auto">
      <button class="btn btn-primary btn-fixed-width" (click)="addNewRaum()">Add new Room</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div class="ms-3">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
